# Apriori - Association Rule

In [1]:
from mlxtend.frequent_patterns import apriori, association_rules
import pandas as pd
import numpy as np

In [2]:
trx = ['Water','Chips','Bread','Milk',
      'Water','Bread','Milk',
      'Bread','Milk',
      'Chips',
      'Water','Chips','Bread','Milk',
      'Water','Chips','Milk']
tid = [1,1,1,1,
      2,2,2,
      3,3,
      4,
      5,5,5,5,
      6,6,6]

df_trx = pd.Series(trx)
df_id = pd.Series(tid)

In [3]:
df = pd.concat([df_id, df_trx], axis=1)
df.rename(columns={0:'tid', 1:'item'}, inplace=True)
df

    tid   item
0     1  Water
1     1  Chips
2     1  Bread
3     1   Milk
4     2  Water
5     2  Bread
6     2   Milk
7     3  Bread
8     3   Milk
9     4  Chips
10    5  Water
11    5  Chips
12    5  Bread
13    5   Milk
14    6  Water
15    6  Chips
16    6   Milk

In [4]:
onehot = df.pivot_table(index='tid', columns='item', aggfunc=len, fill_value=0)
onehot

item  Bread  Chips  Milk  Water
tid
1         1      1     1      1
2         1      0     1      1
3         1      0     1      0
4         0      1     0      0
5         1      1     1      1
6         0      1     1      1

In [5]:
frequent_itemsets = apriori(onehot, min_support = 0.50, max_len = 3, use_colnames=True)

In [6]:
frequent_itemsets

     support              itemsets
0   0.666667               (Bread)
1   0.666667               (Chips)
2   0.833333                (Milk)
3   0.666667               (Water)
4   0.666667         (Bread, Milk)
5   0.500000        (Bread, Water)
6   0.500000         (Chips, Milk)
7   0.500000        (Chips, Water)
8   0.666667         (Milk, Water)
9   0.500000  (Bread, Milk, Water)
10  0.500000  (Chips, Milk, Water)

In [7]:
rules = association_rules(frequent_itemsets, min_threshold=0.7)

In [8]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Bread),(Milk),0.666667,0.833333,0.666667,1.00,1.200,0.111111,inf
1,(Milk),(Bread),0.833333,0.666667,0.666667,0.80,1.200,0.111111,1.666667
2,(Bread),(Water),0.666667,0.666667,0.500000,0.75,1.125,0.055556,1.333333
3,(Water),(Bread),0.666667,0.666667,0.500000,0.75,1.125,0.055556,1.333333
4,(Chips),(Milk),0.666667,0.833333,0.500000,0.75,0.900,-0.055556,0.666667
5,(Chips),(Water),0.666667,0.666667,0.500000,0.75,1.125,0.055556,1.333333
6,(Water),(Chips),0.666667,0.666667,0.500000,0.75,1.125,0.055556,1.333333
7,(Milk),(Water),0.833333,0.666667,0.666667,0.80,1.200,0.111111,1.666667
8,(Water),(Milk),0.666667,0.833333,0.666667,1.00,1.200,0.111111,inf
9,"(Bread, Milk)",(Water),0.666667,0.666667,0.500000,0.75,1.125,0.055556,1.333333
10,"(Bread, Water)",(Milk),0.500000,0.833333,0.500000,1.00,1.200,0.083333,inf
11,"(Milk, Water)",(Bread),0.666667,0.666667,0.500000,0.75,1.125,0.055556,1.333333
12,(Bread),"(Milk, Water)",0.666667,0.666667,0.500000,0.75,1.125,0.055556,1.333333
13,(Water),"(Bread, Milk)",0.666667,0.666667,0.500000,0.75,1.125,0.055556,1.333333
14,"(Chips, Milk)",(Water),0.500000,0.666667,0.500000,1.00,1.500,0.166667,inf
15,"(Chips, Water)",(Milk),0.500000,0.833333,0.500000,1.00,1.200,0.083333,inf
16,"(Milk, Water)",(Chips),0.666667,0.666667,0.500000,0.75,1.125,0.055556,1.333333
17,(Chips),"(Milk, Water)",0.666667,0.666667,0.500000,0.75,1.125,0.055556,1.333333
18,(Water),"(Chips, Milk)",0.666667,0.500000,0.500000,0.75,1.500,0.166667,2.000000

In [9]:
rules['n_items'] = rules['antecedents'].apply(lambda x:len(x) )

In [10]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,n_items
0,(Bread),(Milk),0.666667,0.833333,0.666667,1.00,1.200,0.111111,inf,1
1,(Milk),(Bread),0.833333,0.666667,0.666667,0.80,1.200,0.111111,1.666667,1
2,(Bread),(Water),0.666667,0.666667,0.500000,0.75,1.125,0.055556,1.333333,1
3,(Water),(Bread),0.666667,0.666667,0.500000,0.75,1.125,0.055556,1.333333,1
4,(Chips),(Milk),0.666667,0.833333,0.500000,0.75,0.900,-0.055556,0.666667,1
5,(Chips),(Water),0.666667,0.666667,0.500000,0.75,1.125,0.055556,1.333333,1
6,(Water),(Chips),0.666667,0.666667,0.500000,0.75,1.125,0.055556,1.333333,1
7,(Milk),(Water),0.833333,0.666667,0.666667,0.80,1.200,0.111111,1.666667,1
8,(Water),(Milk),0.666667,0.833333,0.666667,1.00,1.200,0.111111,inf,1
9,"(Bread, Milk)",(Water),0.666667,0.666667,0.500000,0.75,1.125,0.055556,1.333333,2
10,"(Bread, Water)",(Milk),0.500000,0.833333,0.500000,1.00,1.200,0.083333,inf,2
11,"(Milk, Water)",(Bread),0.666667,0.666667,0.500000,0.75,1.125,0.055556,1.333333,2
12,(Bread),"(Milk, Water)",0.666667,0.666667,0.500000,0.75,1.125,0.055556,1.333333,1
13,(Water),"(Bread, Milk)",0.666667,0.666667,0.500000,0.75,1.125,0.055556,1.333333,1
14,"(Chips, Milk)",(Water),0.500000,0.666667,0.500000,1.00,1.500,0.166667,inf,2
15,"(Chips, Water)",(Milk),0.500000,0.833333,0.500000,1.00,1.200,0.083333,inf,2
16,"(Milk, Water)",(Chips),0.666667,0.666667,0.500000,0.75,1.125,0.055556,1.333333,2
17,(Chips),"(Milk, Water)",0.666667,0.666667,0.500000,0.75,1.125,0.055556,1.333333,1
18,(Water),"(Chips, Milk)",0.666667,0.500000,0.500000,0.75,1.500,0.166667,2.000000,1

In [11]:
rules[rules['n_items']>1]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,n_items
9,"(Bread, Milk)",(Water),0.666667,0.666667,0.5,0.75,1.125,0.055556,1.333333,2
10,"(Bread, Water)",(Milk),0.500000,0.833333,0.5,1.00,1.200,0.083333,inf,2
11,"(Milk, Water)",(Bread),0.666667,0.666667,0.5,0.75,1.125,0.055556,1.333333,2
14,"(Chips, Milk)",(Water),0.500000,0.666667,0.5,1.00,1.500,0.166667,inf,2
15,"(Chips, Water)",(Milk),0.500000,0.833333,0.5,1.00,1.200,0.083333,inf,2
16,"(Milk, Water)",(Chips),0.666667,0.666667,0.5,0.75,1.125,0.055556,1.333333,2